{
	"parser": "@typescript-eslint/parser",
    "plugins": ["prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "ignorePatterns": ["build/*", "dist/", "node_modules"],
    "rules": {
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": 0
    }
}